* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #818181;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: #ccc;
    padding: 20px;
    margin: 20px;
    line-height: 2;
}

::-webkit-scrollbar {
    width: 10px; // Độ rộng chiều ngang của thanh scrollbar
}

::-webkit-scrollbar-track {
    background: black; // Màu nền
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21d4fd, #b721ff); // Màu scrollbar
}
